.App {
    display: grid;
    grid-template-columns: 1fr 7fr;
    place-items: top;
    text-align: center;
    /* background-color: #fffbe6; */
    background-color: #356859;

    /* background: #473BF0; */
    /* min-height: 120vh; */
    /* grid-auto-rows: auto; */
}

.active {
    text-decoration: none;
}
