.App {
display: grid;
grid-template-columns: 1fr 7fr;
place-items: top; 
text-align: center;
margin: 0 12rem;
/* position: relative; */
background: #b9e4c9;
min-height: 120vh;
}



.active {
  text-decoration: none;
}

